services:
  search_engine:
    image: docker.io/searxng/searxng:latest
    ports:
      - 8888:8080
    volumes:
      - ./config/:/etc/searxng/
      - ./data/:/var/cache/searxng/

  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - ./backend/.env
    ports:
      - 8000:8000
    depends_on:
      db:
        condition: service_healthy
      migrate:
        condition: service_completed_successfully
      search_engine:
        condition: service_started  

  frontend:
    build: 
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - 3000:80
    depends_on:
      - backend

  db:
    image: pgvector/pgvector:pg18     # postgres:18.0
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=mydb
      - POSTGRES_USER=user 
      - POSTGRES_PASSWORD=pass
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d mydb"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  migrate:
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - ./backend/.env
    depends_on:
      db:
        condition: service_healthy
    command: alembic upgrade head
    restart: on-failure

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8080:80"  # access pgAdmin at http://localhost:8080
    depends_on:
      - db

  celery_worker:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    restart: always
    command: celery -A app.worker worker --loglevel=info    # celery -A app.celery_app worker --loglevel=info
    depends_on:
      - redis
    env_file:
      - ./backend/.env

  redis:
    image: redis:latest
    ports:
      - "6379:6379"

volumes:
  postgres_data:
  # chroma_data:

