fastapi
uvicorn
python-multipart
itsdangerous
pydantic
httpx
beautifulsoup4
langchain
langgraph
langchain-core
langchain-google-genai
google-auth
google-auth-oauthlib
google-api-python-client
# passlib[bcrypt]
pwdlib[argon2]
pyjwt
psycopg2-binary     #for alembic (later)
SQLAlchemy[asyncio]
asyncpg
alembic
pgvector
google-genai